# Лабораторная работа к лекции 1
Ваше имя: Сачкова Галина

Ваш адрес электронной почты: SachkovaGG@mgpu.ru

## Упражнение 1.1. Типы данных и операции
1. Определите две переменные и присвойте первой целое число, а второй — число с плавающей запятой. Определите новую переменную и присвойте сумму двух предыдущих переменных. Каков тип данных третьей переменной?
2. Переназначьте переменную с другим типом данных, например, возьмите одну из числовых переменных и присвойте ей строку. Какой новый тип данных?
3. Посмотрите, что произойдет, если вы попытаетесь добавить строку к строке.
4. Посмотрите, что произойдет, если вы добавите строку к числу с плавающей запятой или целому числу.

In [36]:
# 1 - float
x = 7
y = 2.3
summa = x + y
print(type(summa))
# 2 - str
x = "10"
print(type(x))
# 3 - Получится предложение из 2 строк
line1 = "Hello, "
line2 = "world!"
print(line1+line2)
# 4 - Если складывать просто число, то произойдет ошибкa, но если перевести число в строку, то получится новая строка с числом
print(line1+str(y))
#print(line1+y)

<class 'float'>
<class 'str'>
Hello, world!
Hello, 2.3

## Упражнение 1.2. Запуск программ

  * Создайте новый файл Python(или файл с расширением `.ipynb`) и используйте функцию `double_number` в качестве шаблона. Измените код, чтобы добавить два числа вместо удвоения одного числа.
  * Можете ли вы догадаться, что произойдет, если изменить отступ? Выполните данное действие.
  * Попробуйте, что произойдет, если вы напечатаете `a` в самом конце программы. Пояснить, что происходит?
 [Текст ссылки](https://)

In [37]:
def double_number(x, y):
    """
    Функция принимает два числа и возвращает их сумму, умноженную на 2.
    """
    result = x + y
    return result * 2
# Пример
number1 = 3
number2 = 5
result = double_number(number1, number2)
print(result)

# Изменение отступа приведет к ошибке, т.к это изменение структуры кода
#a = 10
#print(a)
# Если а напечатано без отступа, то просто выведется ее значение, если же с отступом, то появится ошибка

16

## Упражнение 1.3. Создание ячеек, выполнение кода

1. Создайте новую ячейку кода ниже, где вы определите переменные, содержащие ваше имя, ваш возраст  и вашу специальность.
2. Создайте еще одну ячейку, использующую эти переменные, и выведите объединенную строку с указанием вашего имени, специальности и возраста в годах, месяцах и днях (при условии, что сегодня ваш день рождения). Вывод должен выглядеть так:

```
Имя: Кот-ученый, Специальность: Бизнес-Информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней..
```

In [23]:
name = "Галина"
age_years = 19
specialty = "Бизнес-Информатика"

In [26]:
years = age
months = age * 12
days = age * 365

print(f"Имя: {name}, Специальность: {specialty}, Возраст: {years} лет, или {months} месяцев, или {days} дней.")

Имя: Галина, Специальность: Бизнес-Информатика, Возраст: 19 лет, или 228 месяцев, или 6935 дней.

## Упражнение 1.4: Функции
Напишите функцию, которая
  * принимает две числовые переменные
  * умножает их друг на друга
  * делит их на числовую переменную, определенную в области видимости вне функции
  * и возвращает результат.

Выведите результат функции для трех разных наборов входных переменных.

In [28]:
n = 2 #Переменная в области видимости
def multiply_and_divide(x, y):
    result = (x * y) / n
    return result

result1 = multiply_and_divide(5, 3)
result2 = multiply_and_divide(-8, 2)
result3 = multiply_and_divide(10, 4)

print(result1)
print(result2)
print(result3)

7.5
-8.0
20.0

## Упражнение 1.5*

Есть некоторые данные о количестве книг, прочитанных разными людьми, работающими в книжном магазине Владимира. Создайте код Python, который учитывает каждого человека и выводит, сколько книг он прочитал. Если кто-то прочитал 0 книг, выведите «___ не читал ни одной книги!» вместо количества книг.

In [29]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

Существует несколько способов решить эту задачу: можно изучить функцию `zip()`, использовать `enumerate()`, `range` и `len` или использовать другие методы. Чтобы напечатать имена и значения, вы можете использовать конкатенацию строк (+), форматирование f-строки или другие методы.

In [30]:
# Функция zip () используется для совмещения двух и более списков в один
for person, books_count in zip(people, books_read):
    if books_count == 0:
        print(f"{person} не читал(a) ни одной книги!")
    else:
        print(f"{person} прочитал(а) {books_count} книг.")

Krishnang прочитал 12 книг.
Steve прочитал 6 книг.
Jimmy не читал ни одной книги!
Mary прочитал 7 книг.
Divya прочитал 4 книг.
Robert прочитал 10 книг.
Yulia прочитал 15 книг.

In [33]:
#Функция Enumerate () добавляет счетчик к каждому элементу итерируемого объекта и возвращает перечисляемый объект.
for index, books_count in enumerate(books_read):
    person = people[index]
    if books_count == 0:
        print(f"{person} не читал(a) ни одной книги!")
    else:
        print(f"{person} прочитал(a) {books_count} книг.")

Krishnang прочитал(a) 12 книг.
Steve прочитал(a) 6 книг.
Jimmy не читал ни одной книги!
Mary прочитал(a) 7 книг.
Divya прочитал(a) 4 книг.
Robert прочитал(a) 10 книг.
Yulia прочитал(a) 15 книг.

Преобразуйте только что созданный цикл в функцию, которая принимает два списка (прочитанные книги и людей) в качестве аргументов.

In [34]:
def print_books_read(people_list, books_read_list):
    for person, books_count in zip(people_list, books_read_list):
        if books_count == 0:
            print(f"{person} не читал(a) ни одной книги!")
        else:
            print(f"{person} прочитал(a) {books_count} книг.")
print_books_read(people, books_read)

Krishnang прочитал 12 книг.
Steve прочитал 6 книг.
Jimmy не читал ни одной книги!
Mary прочитал 7 книг.
Divya прочитал 4 книг.
Robert прочитал 10 книг.
Yulia прочитал 15 книг.

Отсортируйте значения `books_read` от большего к меньшему и выведите трех первых людей с количеством прочитанных ими книг. Некоторые возможные способы решения этой задачи включают использование сортировки аргументов `NumPy`, создание словаря и создание кортежей.

In [35]:
sorted_people_books = sorted(zip(people, books_read), key=lambda x: x[1], reverse=True)

for person, books_count in sorted_people_books[:3]:
    print(f"{person} прочитал(a) {books_count} книг.")

Yulia прочитал(a) 15 книг.
Krishnang прочитал(a) 12 книг.
Robert прочитал(a) 10 книг.